<html>
<head>
    <title>Address Book</title>
</head>
<body>
    <h1>Address Book</h1>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;    
    }
    button {
        clear:left;
        text-align:;
        margin-bottom: 20px;
    }
    </style>

    <form method='GET' action="/">
        <div>
            <button type='submit'>Back to Search</button>
        </div>
    </form>

    {% if not data %}
        <p>No results found for "{{ request.args['query'] }}" </p>

    {% else %}
	<table border="1" style="width:100%">
		  <tr>
			<th>Name</th>
			<th></th>
		  </tr>
        {% for contact in data %}
            <tr>
              <td>"{{ contact['name'] }}"</td>
                <td>
                    <a href="../contacts/{{ contact['id'] }}">view</a>
                </td>
            </tr>
        {% endfor %}
	{% endif %}
<body>

</html>
