<!doctype html>
<html>
    <head>
        <title>
            Upcoming Hackathons
        </title>
    </head>
    <body>
        {% block content %}
        <div id="input">
            <form method="POST" action="/search">
                <input type="text" name="query"
                placeholder="Enter the date here!"/>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>

        <div id="hackathons">
            <!--jinja template-->
            {% for hackathon in hackathon_list.keys() %}
            <a href="{{ hackathon_list[hackathon] }}">{{hackathon}}</a>
            <br>
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>
