<!DOCTYPE.html>
<html>
<head>
<title>Welcome to SpamZicle</title>
<link rel="stylesheet" type="text/css" href="static/css/form.css">
</head>
<body>
<div id = "logo">
    <img src = "static/imgs/spam.png">
</div>
<form action="/submit" role="form" method="POST">
    <div>
        <p>Instructions
        <ol>
            <li>Type the email you want to send from</li>
            <li>Type as many emails as you want to spam. Multiple emails must be separated with a comma.</li>
            <li>Type the subject of the email</li>
            <li>Type the message body and hit send!</li>
        </ol> 
        Try this out with your personal email in the to field!
        <br><br>
        DISCLAIMER: I can not be held responsible for anything that this application is used for
        </p>
    </div>

    <div>
        <label for="From">From:</label>
        <input type="email" id="from_email" name="from_email"/>
    </div>
    <div>
        <label for="To">To:</label>
        <input type="text" id="to_email" name="to_email"/>
    </div>
    <div>
        <label for="Subject">Subject:</label>
        <input type="text" id="subject" name="subject"/>
    </div>
    <div>
        <label for="msg">Body:</label>
        <textarea id="msg" name="msg"></textarea>
    </div>

    <div class="button">
        <button type="submit">Send your message</button>
    </div>
</form>
</body>
</html>
